<div class="container">
  <div class="row">
   <div class="col-md-6 col-md-offset-3">
     <div class="well">

<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @myprofile.description %>
</p>

<p>
  <strong>Informacion util:</strong>
  <%= @myprofile.informacion_util %>
</p>
<p>
  <strong>Foto Perfil:</strong>
  <%= image_tag (@myprofile.fotoperfil.url(:mediano)) %>
</p>



<%= link_to 'Edit', edit_myprofile_path(@myprofile) %> |
<%= link_to 'Back', myprofiles_path %>

</div>
</div>
 </div>

</div>
