<p id="notice"><%= notice %></p>

<p>
  <strong>L 0h:</strong>
  <%= @horarios_config.l_0h %>
</p>

<p>
  <strong>L 1h:</strong>
  <%= @horarios_config.l_1h %>
</p>

<p>
  <strong>L 2h:</strong>
  <%= @horarios_config.l_2h %>
</p>

<p>
  <strong>L 3h:</strong>
  <%= @horarios_config.l_3h %>
</p>

<p>
  <strong>L 4h:</strong>
  <%= @horarios_config.l_4h %>
</p>

<p>
  <strong>L 5h:</strong>
  <%= @horarios_config.l_5h %>
</p>

<p>
  <strong>L 6h:</strong>
  <%= @horarios_config.l_6h %>
</p>

<p>
  <strong>L 7h:</strong>
  <%= @horarios_config.l_7h %>
</p>

<p>
  <strong>L 730h:</strong>
  <%= @horarios_config.l_730h %>
</p>

<p>
  <strong>L 8h:</strong>
  <%= @horarios_config.l_8h %>
</p>

<p>
  <strong>L 830h:</strong>
  <%= @horarios_config.l_830h %>
</p>

<p>
  <strong>L 9h:</strong>
  <%= @horarios_config.l_9h %>
</p>
<p>
  <strong>L 930h:</strong>
  <%= @horarios_config.lun_930h %>
</p>



<p>
  <strong>L 10h:</strong>
  <%= @horarios_config.l_10h %>
</p>

<p>
  <strong>L 1030h:</strong>
  <%= @horarios_config.l_1030h %>
</p>

<p>
  <strong>L 11h:</strong>
  <%= @horarios_config.l_11h %>
</p>

<p>
  <strong>L 1130:</strong>
  <%= @horarios_config.l_1130 %>
</p>

<p>
  <strong>L 12h:</strong>
  <%= @horarios_config.l_12h %>
</p>

<p>
  <strong>L 1230h:</strong>
  <%= @horarios_config.l_1230h %>
</p>

<p>
  <strong>L 13h:</strong>
  <%= @horarios_config.l_13h %>
</p>

<p>
  <strong>L 1330h:</strong>
  <%= @horarios_config.l_1330h %>
</p>

<p>
  <strong>L 14h:</strong>
  <%= @horarios_config.l_14h %>
</p>

<p>
  <strong>L 1430h:</strong>
  <%= @horarios_config.l_1430h %>
</p>

<p>
  <strong>L 15h:</strong>
  <%= @horarios_config.l_15h %>
</p>

<p>
  <strong>L 1530h:</strong>
  <%= @horarios_config.l_1530h %>
</p>

<p>
  <strong>L 16h:</strong>
  <%= @horarios_config.l_16h %>
</p>

<p>
  <strong>L 1630h:</strong>
  <%= @horarios_config.l_1630h %>
</p>

<p>
  <strong>L 17h:</strong>
  <%= @horarios_config.l_17h %>
</p>

<p>
  <strong>L 1730h:</strong>
  <%= @horarios_config.l_1730h %>
</p>

<p>
  <strong>L 18h:</strong>
  <%= @horarios_config.l_18h %>
</p>

<p>
  <strong>L 1830h:</strong>
  <%= @horarios_config.l_1830h %>
</p>

<p>
  <strong>L 19h:</strong>
  <%= @horarios_config.l_19h %>
</p>

<p>
  <strong>L 1930h:</strong>
  <%= @horarios_config.l_1930h %>
</p>

<p>
  <strong>L 20h:</strong>
  <%= @horarios_config.l_20h %>
</p>

<p>
  <strong>L 2030h:</strong>
  <%= @horarios_config.l_2030h %>
</p>

<p>
  <strong>L 21h:</strong>
  <%= @horarios_config.l_21h %>
</p>

<p>
  <strong>L 2130h:</strong>
  <%= @horarios_config.l_2130h %>
</p>

<p>
  <strong>L 22h:</strong>
  <%= @horarios_config.l_22h %>
</p>

<p>
  <strong>L 2230h:</strong>
  <%= @horarios_config.l_2230h %>
</p>

<p>
  <strong>L 23h:</strong>
  <%= @horarios_config.l_23h %>
</p>

<p>
  <strong>L 2330h:</strong>
  <%= @horarios_config.l_2330h %>
</p>

<p>
  <strong>Ma 0h:</strong>
  <%= @horarios_config.ma_0h %>
</p>

<p>
  <strong>Ma 1h:</strong>
  <%= @horarios_config.ma_1h %>
</p>

<p>
  <strong>Ma 2h:</strong>
  <%= @horarios_config.ma_2h %>
</p>

<p>
  <strong>Ma 3h:</strong>
  <%= @horarios_config.ma_3h %>
</p>

<p>
  <strong>Ma 4h:</strong>
  <%= @horarios_config.ma_4h %>
</p>

<p>
  <strong>Ma 5h:</strong>
  <%= @horarios_config.ma_5h %>
</p>

<p>
  <strong>Ma 6h:</strong>
  <%= @horarios_config.ma_6h %>
</p>

<p>
  <strong>Ma 7h:</strong>
  <%= @horarios_config.ma_7h %>
</p>

<p>
  <strong>Ma 730h:</strong>
  <%= @horarios_config.ma_730h %>
</p>

<p>
  <strong>Ma 8h:</strong>
  <%= @horarios_config.ma_8h %>
</p>

<p>
  <strong>Ma 830h:</strong>
  <%= @horarios_config.ma_830h %>
</p>

<p>
  <strong>Ma 9h:</strong>
  <%= @horarios_config.ma_9h %>
</p>

<p>
  <strong>Ma 930h:</strong>
  <%= @horarios_config.ma_930h %>
</p>

<p>
  <strong>Ma 10h:</strong>
  <%= @horarios_config.ma_10h %>
</p>

<p>
  <strong>Ma 1030h:</strong>
  <%= @horarios_config.ma_1030h %>
</p>

<p>
  <strong>Ma 11h:</strong>
  <%= @horarios_config.ma_11h %>
</p>
<p>
  <strong>Ma 1130h:</strong>
  <%= @horarios_config.martes_1130h %>
</p>


<p>
  <strong>Ma 12h:</strong>
  <%= @horarios_config.ma_12h %>
</p>

<p>
  <strong>Ma 1230h:</strong>
  <%= @horarios_config.ma_1230h %>
</p>

<p>
  <strong>Ma 13h:</strong>
  <%= @horarios_config.ma_13h %>
</p>

<p>
  <strong>Ma 1330h:</strong>
  <%= @horarios_config.ma_1330h %>
</p>

<p>
  <strong>Ma 14h:</strong>
  <%= @horarios_config.ma_14h %>
</p>

<p>
  <strong>Ma 1430h:</strong>
  <%= @horarios_config.ma_1430h %>
</p>

<p>
  <strong>Ma 15h:</strong>
  <%= @horarios_config.ma_15h %>
</p>

<p>
  <strong>Ma 1530h:</strong>
  <%= @horarios_config.ma_1530h %>
</p>

<p>
  <strong>Ma 16h:</strong>
  <%= @horarios_config.ma_16h %>
</p>

<p>
  <strong>Ma 1630h:</strong>
  <%= @horarios_config.ma_1630h %>
</p>

<p>
  <strong>Ma 17h:</strong>
  <%= @horarios_config.ma_17h %>
</p>

<p>
  <strong>Ma 1730h:</strong>
  <%= @horarios_config.ma_1730h %>
</p>

<p>
  <strong>Ma 18h:</strong>
  <%= @horarios_config.ma_18h %>
</p>

<p>
  <strong>Ma 1830h:</strong>
  <%= @horarios_config.ma_1830h %>
</p>

<p>
  <strong>Ma 19h:</strong>
  <%= @horarios_config.ma_19h %>
</p>

<p>
  <strong>Ma 1930h:</strong>
  <%= @horarios_config.ma_1930h %>
</p>

<p>
  <strong>Ma 20h:</strong>
  <%= @horarios_config.ma_20h %>
</p>

<p>
  <strong>Ma 2030h:</strong>
  <%= @horarios_config.ma_2030h %>
</p>

<p>
  <strong>Ma 21h:</strong>
  <%= @horarios_config.ma_21h %>
</p>

<p>
  <strong>Ma 2130h:</strong>
  <%= @horarios_config.ma_2130h %>
</p>

<p>
  <strong>Ma 22h:</strong>
  <%= @horarios_config.ma_22h %>
</p>

<p>
  <strong>Ma 2230h:</strong>
  <%= @horarios_config.ma_2230h %>
</p>

<p>
  <strong>Ma 23h:</strong>
  <%= @horarios_config.ma_23h %>
</p>

<p>
  <strong>Ma 2330h:</strong>
  <%= @horarios_config.ma_2330h %>
</p>

<p>
  <strong>Mi 0h:</strong>
  <%= @horarios_config.mi_0h %>
</p>

<p>
  <strong>Mi 1h:</strong>
  <%= @horarios_config.mi_1h %>
</p>

<p>
  <strong>Mi 2h:</strong>
  <%= @horarios_config.mi_2h %>
</p>

<p>
  <strong>Mi 3h:</strong>
  <%= @horarios_config.mi_3h %>
</p>

<p>
  <strong>Mi 4h:</strong>
  <%= @horarios_config.mi_4h %>
</p>

<p>
  <strong>Mi 5h:</strong>
  <%= @horarios_config.mi_5h %>
</p>

<p>
  <strong>Mi 6h:</strong>
  <%= @horarios_config.mi_6h %>
</p>

<p>
  <strong>Mi 7h:</strong>
  <%= @horarios_config.mi_7h %>
</p>

<p>
  <strong>Mi 730h:</strong>
  <%= @horarios_config.mi_730h %>
</p>

<p>
  <strong>Mi 8h:</strong>
  <%= @horarios_config.mi_8h %>
</p>

<p>
  <strong>Mi 830h:</strong>
  <%= @horarios_config.mi_830h %>
</p>

<p>
  <strong>Mi 9h:</strong>
  <%= @horarios_config.mi_9h %>
</p>

<p>
  <strong>Mi 930h:</strong>
  <%= @horarios_config.mi_930h %>
</p>
<p>
  <strong>Mi 10h:</strong>
  <%= @horarios_config.miercoles_10h %>
</p>

<p>
  <strong>Mi 1030h:</strong>
  <%= @horarios_config.mi_1030h %>
</p>

<p>
  <strong>Mi 11h:</strong>
  <%= @horarios_config.mi_11h %>
</p>

<p>
  <strong>Mi 1130h:</strong>
  <%= @horarios_config.mi_1130h %>
</p>

<p>
  <strong>Mi 12h:</strong>
  <%= @horarios_config.mi_12h %>
</p>

<p>
  <strong>Mi 1230h:</strong>
  <%= @horarios_config.mi_1230h %>
</p>

<p>
  <strong>Mi 13h:</strong>
  <%= @horarios_config.mi_13h %>
</p>

<p>
  <strong>Mi 1330h:</strong>
  <%= @horarios_config.mi_1330h %>
</p>

<p>
  <strong>Mi 14h:</strong>
  <%= @horarios_config.mi_14h %>
</p>

<p>
  <strong>Mi 1430h:</strong>
  <%= @horarios_config.mi_1430h %>
</p>

<p>
  <strong>Mi 15h:</strong>
  <%= @horarios_config.mi_15h %>
</p>

<p>
  <strong>Mi 1530h:</strong>
  <%= @horarios_config.mi_1530h %>
</p>

<p>
  <strong>Mi 16h:</strong>
  <%= @horarios_config.mi_16h %>
</p>

<p>
  <strong>Mi 1630h:</strong>
  <%= @horarios_config.mi_1630h %>
</p>

<p>
  <strong>Mi 17h:</strong>
  <%= @horarios_config.mi_17h %>
</p>

<p>
  <strong>Mi 1730h:</strong>
  <%= @horarios_config.mi_1730h %>
</p>

<p>
  <strong>Mi 18h:</strong>
  <%= @horarios_config.mi_18h %>
</p>

<p>
  <strong>Mi 1830h:</strong>
  <%= @horarios_config.mi_1830h %>
</p>

<p>
  <strong>Mi 19h:</strong>
  <%= @horarios_config.mi_19h %>
</p>

<p>
  <strong>Mi 1930h:</strong>
  <%= @horarios_config.mi_1930h %>
</p>

<p>
  <strong>Mi 20h:</strong>
  <%= @horarios_config.mi_20h %>
</p>

<p>
  <strong>Mi 2030h:</strong>
  <%= @horarios_config.mi_2030h %>
</p>

<p>
  <strong>Mi 21h:</strong>
  <%= @horarios_config.mi_21h %>
</p>

<p>
  <strong>Mi 2130h:</strong>
  <%= @horarios_config.mi_2130h %>
</p>

<p>
  <strong>Mi 22h:</strong>
  <%= @horarios_config.mi_22h %>
</p>

<p>
  <strong>Mi 2230h:</strong>
  <%= @horarios_config.mi_2230h %>
</p>

<p>
  <strong>Mi 23h:</strong>
  <%= @horarios_config.mi_23h %>
</p>

<p>
  <strong>Mi 2330h:</strong>
  <%= @horarios_config.mi_2330h %>
</p>

<p>
  <strong>J 0h:</strong>
  <%= @horarios_config.j_0h %>
</p>

<p>
  <strong>J 1h:</strong>
  <%= @horarios_config.j_1h %>
</p>

<p>
  <strong>J 2h:</strong>
  <%= @horarios_config.j_2h %>
</p>

<p>
  <strong>J 3h:</strong>
  <%= @horarios_config.j_3h %>
</p>

<p>
  <strong>J 4h:</strong>
  <%= @horarios_config.j_4h %>
</p>

<p>
  <strong>J 5h:</strong>
  <%= @horarios_config.j_5h %>
</p>

<p>
  <strong>J 6h:</strong>
  <%= @horarios_config.j_6h %>
</p>

<p>
  <strong>J 7h:</strong>
  <%= @horarios_config.j_7h %>
</p>

<p>
  <strong>J 730h:</strong>
  <%= @horarios_config.j_730h %>
</p>

<p>
  <strong>J 8h:</strong>
  <%= @horarios_config.j_8h %>
</p>

<p>
  <strong>J 830h:</strong>
  <%= @horarios_config.j_830h %>
</p>

<p>
  <strong>J 9h:</strong>
  <%= @horarios_config.j_9h %>
</p>

<p>
  <strong>J 930h:</strong>
  <%= @horarios_config.j_930h %>
</p>

<p>
  <strong>J 10h:</strong>
  <%= @horarios_config.j_10h %>
</p>

<p>
  <strong>J 1030h:</strong>
  <%= @horarios_config.j_1030h %>
</p>

<p>
  <strong>J 11h:</strong>
  <%= @horarios_config.j_11h %>
</p>

<p>
  <strong>J 1130h:</strong>
  <%= @horarios_config.j_1130h %>
</p>

<p>
  <strong>J 12h:</strong>
  <%= @horarios_config.j_12h %>
</p>

<p>
  <strong>J 1230h:</strong>
  <%= @horarios_config.j_1230h %>
</p>

<p>
  <strong>J 13h:</strong>
  <%= @horarios_config.j_13h %>
</p>

<p>
  <strong>J 1330h:</strong>
  <%= @horarios_config.j_1330h %>
</p>

<p>
  <strong>J 14h:</strong>
  <%= @horarios_config.j_14h %>
</p>

<p>
  <strong>J 1430h:</strong>
  <%= @horarios_config.j_1430h %>
</p>

<p>
  <strong>J 15h:</strong>
  <%= @horarios_config.j_15h %>
</p>

<p>
  <strong>J 1530h:</strong>
  <%= @horarios_config.j_1530h %>
</p>

<p>
  <strong>J 16h:</strong>
  <%= @horarios_config.j_16h %>
</p>

<p>
  <strong>J 1630h:</strong>
  <%= @horarios_config.j_1630h %>
</p>

<p>
  <strong>J 17h:</strong>
  <%= @horarios_config.j_17h %>
</p>

<p>
  <strong>J 1730h:</strong>
  <%= @horarios_config.j_1730h %>
</p>

<p>
  <strong>J 18h:</strong>
  <%= @horarios_config.j_18h %>
</p>

<p>
  <strong>J 1830h:</strong>
  <%= @horarios_config.j_1830h %>
</p>

<p>
  <strong>J 19h:</strong>
  <%= @horarios_config.j_19h %>
</p>

<p>
  <strong>J 1930h:</strong>
  <%= @horarios_config.j_1930h %>
</p>

<p>
  <strong>J 20h:</strong>
  <%= @horarios_config.j_20h %>
</p>

<p>
  <strong>J 2030h:</strong>
  <%= @horarios_config.j_2030h %>
</p>

<p>
  <strong>J 21h:</strong>
  <%= @horarios_config.j_21h %>
</p>

<p>
  <strong>J 2130h:</strong>
  <%= @horarios_config.j_2130h %>
</p>

<p>
  <strong>J 22h:</strong>
  <%= @horarios_config.j_22h %>
</p>

<p>
  <strong>J 2230h:</strong>
  <%= @horarios_config.j_2230h %>
</p>

<p>
  <strong>J 23h:</strong>
  <%= @horarios_config.j_23h %>
</p>

<p>
  <strong>J 2330h:</strong>
  <%= @horarios_config.j_2330h %>
</p>

<p>
  <strong>V 0h:</strong>
  <%= @horarios_config.v_0h %>
</p>

<p>
  <strong>V 1h:</strong>
  <%= @horarios_config.v_1h %>
</p>

<p>
  <strong>V 2h:</strong>
  <%= @horarios_config.v_2h %>
</p>

<p>
  <strong>V 3h:</strong>
  <%= @horarios_config.v_3h %>
</p>

<p>
  <strong>V 4h:</strong>
  <%= @horarios_config.v_4h %>
</p>

<p>
  <strong>V 5h:</strong>
  <%= @horarios_config.v_5h %>
</p>

<p>
  <strong>V 6h:</strong>
  <%= @horarios_config.v_6h %>
</p>

<p>
  <strong>V 7h:</strong>
  <%= @horarios_config.v_7h %>
</p>

<p>
  <strong>V 730h:</strong>
  <%= @horarios_config.v_730h %>
</p>

<p>
  <strong>V 8h:</strong>
  <%= @horarios_config.v_8h %>
</p>

<p>
  <strong>V 830h:</strong>
  <%= @horarios_config.v_830h %>
</p>

<p>
  <strong>V 9h:</strong>
  <%= @horarios_config.v_9h %>
</p>

<p>
  <strong>V 930h:</strong>
  <%= @horarios_config.v_930h %>
</p>

<p>
  <strong>V 10h:</strong>
  <%= @horarios_config.v_10h %>
</p>

<p>
  <strong>V 1030h:</strong>
  <%= @horarios_config.v_1030h %>
</p>

<p>
  <strong>V 11h:</strong>
  <%= @horarios_config.v_11h %>
</p>

<p>
  <strong>V 1130h:</strong>
  <%= @horarios_config.v_1130h %>
</p>

<p>
  <strong>V 12h:</strong>
  <%= @horarios_config.v_12h %>
</p>

<p>
  <strong>V 1230h:</strong>
  <%= @horarios_config.v_1230h %>
</p>

<p>
  <strong>V 13h:</strong>
  <%= @horarios_config.v_13h %>
</p>

<p>
  <strong>V 1330h:</strong>
  <%= @horarios_config.v_1330h %>
</p>

<p>
  <strong>V 14h:</strong>
  <%= @horarios_config.v_14h %>
</p>

<p>
  <strong>V 1430h:</strong>
  <%= @horarios_config.v_1430h %>
</p>

<p>
  <strong>V 15h:</strong>
  <%= @horarios_config.v_15h %>
</p>

<p>
  <strong>V 1530h:</strong>
  <%= @horarios_config.v_1530h %>
</p>

<p>
  <strong>V 16h:</strong>
  <%= @horarios_config.v_16h %>
</p>

<p>
  <strong>V 1630h:</strong>
  <%= @horarios_config.v_1630h %>
</p>

<p>
  <strong>V 17h:</strong>
  <%= @horarios_config.v_17h %>
</p>

<p>
  <strong>V 1730h:</strong>
  <%= @horarios_config.v_1730h %>
</p>

<p>
  <strong>V 18h:</strong>
  <%= @horarios_config.v_18h %>
</p>

<p>
  <strong>V 1830h:</strong>
  <%= @horarios_config.v_1830h %>
</p>

<p>
  <strong>V 19h:</strong>
  <%= @horarios_config.v_19h %>
</p>

<p>
  <strong>V 1930h:</strong>
  <%= @horarios_config.v_1930h %>
</p>

<p>
  <strong>V 20h:</strong>
  <%= @horarios_config.v_20h %>
</p>

<p>
  <strong>V 2030h:</strong>
  <%= @horarios_config.v_2030h %>
</p>

<p>
  <strong>V 21h:</strong>
  <%= @horarios_config.v_21h %>
</p>

<p>
  <strong>V 2130h:</strong>
  <%= @horarios_config.v_2130h %>
</p>

<p>
  <strong>V 22h:</strong>
  <%= @horarios_config.v_22h %>
</p>

<p>
  <strong>V 2230h:</strong>
  <%= @horarios_config.v_2230h %>
</p>

<p>
  <strong>V 23h:</strong>
  <%= @horarios_config.v_23h %>
</p>

<p>
  <strong>V 2330h:</strong>
  <%= @horarios_config.v_2330h %>
</p>

<p>
  <strong>S 0h:</strong>
  <%= @horarios_config.s_0h %>
</p>

<p>
  <strong>S 1h:</strong>
  <%= @horarios_config.s_1h %>
</p>

<p>
  <strong>S 2h:</strong>
  <%= @horarios_config.s_2h %>
</p>

<p>
  <strong>S 3h:</strong>
  <%= @horarios_config.s_3h %>
</p>

<p>
  <strong>S 4h:</strong>
  <%= @horarios_config.s_4h %>
</p>

<p>
  <strong>S 5h:</strong>
  <%= @horarios_config.s_5h %>
</p>

<p>
  <strong>S 6h:</strong>
  <%= @horarios_config.s_6h %>
</p>

<p>
  <strong>S 7h:</strong>
  <%= @horarios_config.s_7h %>
</p>

<p>
  <strong>S 730h:</strong>
  <%= @horarios_config.s_730h %>
</p>

<p>
  <strong>S 8h:</strong>
  <%= @horarios_config.s_8h %>
</p>

<p>
  <strong>S 830h:</strong>
  <%= @horarios_config.s_830h %>
</p>

<p>
  <strong>S 9h:</strong>
  <%= @horarios_config.s_9h %>
</p>

<p>
  <strong>S 930h:</strong>
  <%= @horarios_config.s_930h %>
</p>

<p>
  <strong>S 10h:</strong>
  <%= @horarios_config.s_10h %>
</p>

<p>
  <strong>S 1030h:</strong>
  <%= @horarios_config.s_1030h %>
</p>

<p>
  <strong>S 11h:</strong>
  <%= @horarios_config.s_11h %>
</p>

<p>
  <strong>S 1130h:</strong>
  <%= @horarios_config.s_1130h %>
</p>

<p>
  <strong>S 12h:</strong>
  <%= @horarios_config.s_12h %>
</p>

<p>
  <strong>S 1230h:</strong>
  <%= @horarios_config.s_1230h %>
</p>

<p>
  <strong>S 13h:</strong>
  <%= @horarios_config.s_13h %>
</p>
<p>
  <strong>S 1330h:</strong>
  <%= @horarios_config.sabado_1330h %>
</p>

<p>
  <strong>S 14h:</strong>
  <%= @horarios_config.s_14h %>
</p>

<p>
  <strong>S 1430h:</strong>
  <%= @horarios_config.s_1430h %>
</p>

<p>
  <strong>S 15h:</strong>
  <%= @horarios_config.s_15h %>
</p>

<p>
  <strong>S 1530h:</strong>
  <%= @horarios_config.s_1530h %>
</p>

<p>
  <strong>S 16h:</strong>
  <%= @horarios_config.s_16h %>
</p>

<p>
  <strong>S 1630h:</strong>
  <%= @horarios_config.s_1630h %>
</p>

<p>
  <strong>S 17h:</strong>
  <%= @horarios_config.s_17h %>
</p>

<p>
  <strong>S 1730h:</strong>
  <%= @horarios_config.s_1730h %>
</p>

<p>
  <strong>S 18h:</strong>
  <%= @horarios_config.s_18h %>
</p>

<p>
  <strong>S 1830h:</strong>
  <%= @horarios_config.s_1830h %>
</p>

<p>
  <strong>S 19h:</strong>
  <%= @horarios_config.s_19h %>
</p>

<p>
  <strong>S 1930h:</strong>
  <%= @horarios_config.s_1930h %>
</p>

<p>
  <strong>S 20h:</strong>
  <%= @horarios_config.s_20h %>
</p>

<p>
  <strong>S 2030h:</strong>
  <%= @horarios_config.s_2030h %>
</p>

<p>
  <strong>S 21h:</strong>
  <%= @horarios_config.s_21h %>
</p>

<p>
  <strong>S 2130h:</strong>
  <%= @horarios_config.s_2130h %>
</p>

<p>
  <strong>S 22h:</strong>
  <%= @horarios_config.s_22h %>
</p>

<p>
  <strong>S 2230h:</strong>
  <%= @horarios_config.s_2230h %>
</p>

<p>
  <strong>S 23h:</strong>
  <%= @horarios_config.s_23h %>
</p>

<p>
  <strong>S 2330h:</strong>
  <%= @horarios_config.s_2330h %>
</p>

<p>
  <strong>D 0h:</strong>
  <%= @horarios_config.d_0h %>
</p>

<p>
  <strong>D 1h:</strong>
  <%= @horarios_config.d_1h %>
</p>

<p>
  <strong>D 2h:</strong>
  <%= @horarios_config.d_2h %>
</p>

<p>
  <strong>D 3h:</strong>
  <%= @horarios_config.d_3h %>
</p>

<p>
  <strong>D 4h:</strong>
  <%= @horarios_config.d_4h %>
</p>

<p>
  <strong>D 5h:</strong>
  <%= @horarios_config.d_5h %>
</p>

<p>
  <strong>D 6h:</strong>
  <%= @horarios_config.d_6h %>
</p>

<p>
  <strong>D 7h:</strong>
  <%= @horarios_config.d_7h %>
</p>

<p>
  <strong>D 730h:</strong>
  <%= @horarios_config.d_730h %>
</p>

<p>
  <strong>D 8h:</strong>
  <%= @horarios_config.d_8h %>
</p>

<p>
  <strong>D 830h:</strong>
  <%= @horarios_config.d_830h %>
</p>

<p>
  <strong>D 9h:</strong>
  <%= @horarios_config.d_9h %>
</p>

<p>
  <strong>D 930h:</strong>
  <%= @horarios_config.d_930h %>
</p>

<p>
  <strong>D 10h:</strong>
  <%= @horarios_config.d_10h %>
</p>

<p>
  <strong>D 1030h:</strong>
  <%= @horarios_config.d_1030h %>
</p>

<p>
  <strong>D 11h:</strong>
  <%= @horarios_config.d_11h %>
</p>

<p>
  <strong>D 1130h:</strong>
  <%= @horarios_config.d_1130h %>
</p>

<p>
  <strong>D 12h:</strong>
  <%= @horarios_config.d_12h %>
</p>

<p>
  <strong>D 1230h:</strong>
  <%= @horarios_config.d_1230h %>
</p>

<p>
  <strong>D 13h:</strong>
  <%= @horarios_config.d_13h %>
</p>

<p>
  <strong>D 1330h:</strong>
  <%= @horarios_config.d_1330h %>
</p>

<p>
  <strong>D 14h:</strong>
  <%= @horarios_config.d_14h %>
</p>

<p>
  <strong>D 1430h:</strong>
  <%= @horarios_config.d_1430h %>
</p>

<p>
  <strong>D 15h:</strong>
  <%= @horarios_config.d_15h %>
</p>

<p>
  <strong>D 1530h:</strong>
  <%= @horarios_config.d_1530h %>
</p>

<p>
  <strong>D 16h:</strong>
  <%= @horarios_config.d_16h %>
</p>

<p>
  <strong>D 1630h:</strong>
  <%= @horarios_config.d_1630h %>
</p>

<p>
  <strong>D 17h:</strong>
  <%= @horarios_config.d_17h %>
</p>

<p>
  <strong>D 1730h:</strong>
  <%= @horarios_config.d_1730h %>
</p>

<p>
  <strong>D 18h:</strong>
  <%= @horarios_config.d_18h %>
</p>

<p>
  <strong>D 1830h:</strong>
  <%= @horarios_config.d_1830h %>
</p>

<p>
  <strong>D 19h:</strong>
  <%= @horarios_config.d_19h %>
</p>

<p>
  <strong>D 1930h:</strong>
  <%= @horarios_config.d_1930h %>
</p>

<p>
  <strong>D 20h:</strong>
  <%= @horarios_config.d_20h %>
</p>

<p>
  <strong>D 2030h:</strong>
  <%= @horarios_config.d_2030h %>
</p>

<p>
  <strong>D 21h:</strong>
  <%= @horarios_config.d_21h %>
</p>

<p>
  <strong>D 2130h:</strong>
  <%= @horarios_config.d_2130h %>
</p>

<p>
  <strong>D 22h:</strong>
  <%= @horarios_config.d_22h %>
</p>

<p>
  <strong>D 2230h:</strong>
  <%= @horarios_config.d_2230h %>
</p>

<p>
  <strong>D 23h:</strong>
  <%= @horarios_config.d_23h %>
</p>

<p>
  <strong>D 2330h:</strong>
  <%= @horarios_config.d_2330h %>
</p>

<p>
  <strong>User:</strong>
  <%= @horarios_config.user_id %>
</p>

<%= link_to 'Edit', edit_horarios_config_path(@horarios_config) %> |
<%= link_to 'Back', horarios_configs_path %>
